[Unit]
Description=CloudTelegram Bot + Web Panel
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/myproject/cloud
ExecStart=/root/myproject/cloud/.venv/bin/python bot.py
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
